.mainContainer {
  width: 100%;
  height: 100%;
  background-color: var(--charcoal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 2rem;
}

.loader {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--yellow) transparent var(--yellow) transparent;
  animation: spin 1.2s linear infinite;
  margin-bottom: 2rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.processingTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 0.75rem;
  text-align: center;
}

.processingText {
  font-size: 1rem;
  color: var(--light-gray);
  text-align: center;
}