.mainVideoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; 
  z-index: 0;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}